/*! @import */
@tailwind base;
@layer base {
	html,
	body {
		@apply bg-gray-200 dark:bg-gray-900 dark:text-gray-300 h-full max-h-full;
	}
	#app {
		@apply bg-gray-200 dark:bg-gray-900;
	}
	a {
		@apply text-blue-500 hover:text-pink-500 dark:text-pink-500 dark:hover:text-indigo-500;
	}
}
@tailwind components;
@tailwind utilities;
